:where(.css-dev-only-do-not-override-d2lrxs).ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover{
  background-color:transparent;
  color:#7294fb;
}
.demo-logo-vertical{
  background-color: #202028;
  height: 64px;
  width:50px;
  display: grid;
  place-items: center;
}
.ant-progress-text {
  color: #fff !important;
}
.ant-rate-star-zero svg{
  color:#fff !important;
}